div.about {
    position: absolute;
    top: 150px;
    left: 50px;
    width: 400px;
    height: 120px;
}

div.contact {
    position: absolute;
    top: 150px;
    left: 500px;
    width: 400px;
    height: 120px;
}

div.projects {
    position: absolute;
    top: 350px;
    left: 50px;
    width: 400px;
    height: 120px;
}